<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="/controllers/productController.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <title><%= title %></title>
</head>
<body>
<div class="row">
    <img class="logo col-12" src="/logo-beauté-bio.jpg">
</div>
<h1 class="text-md-right">Institut de beauté Bio</h1>
<h2 class="text-md-right">Vente de produits cosmétiques bio et naturels de petits artisans français</h2>

<div class="row">
    <%- include('../navbar') -%>
</div>
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
        <container class="card-form">
            <form id="createProductForm">
                <h1>Ajouter un produit</h1>
                <div class="form-group">
                    <label class ="label">Nom
                        <input type="text" class="form-control" name="productName">
                    </label>
                </div>
                <div class="form-group">
                    <label class ="label">Description
                        <input type="text" class="form-control" name="productDescription">
                    </label>

                </div>
                <div class="form-group">
                    <label class ="label">Prix
                        <input type="text" class="form-control" name="productPrice">
                    </label>
                </div>
                <div class="form-group">
                    <label class ="label" for="exampleFormControlSelect2">Catégorie</label>
                    <select multiple class="form-control" id="exampleFormControlSelect2" name="categoryId">
                        <option class="cat-value" value="6437b43e926978d81fcf6819">Soins du corps</option>
                        <option class="cat-value" value="6437b456926978d81fcf681b">Soins du visage</option>
                        <option class="cat-value" value="6436c5f0a6e9ad5ceea19171">Maquillage</option>
                        <option class="cat-value" value="6437ba8dc561d8ee4795b256">Beauté des mains</option>
                    </select>
                </div>
                <button type="submit" id="btnCreateProduct" class="btn-create-product">Créer</button>
            </form>
        </container>
    </div>
</div>
<%- include('../footer') -%>
</body>
</html>

<script>
    document.getElementById('createProductForm').addEventListener('submit', async (event) => {
        event.preventDefault();
        const productName = document.getElementsByName('productName')[0].value;
        const productDescription = document.getElementsByName('productDescription')[0].value;
        const productPrice = document.getElementsByName('productPrice')[0].value;
        const categoryId = document.getElementsByName('categoryId')[0].value;

        const response = await fetch('/add-product', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                productName,
                productDescription,
                productPrice,
                categoryId
            })
        });

        if (response.ok) {
            const product = await response.json();
            console.log('requête effectuée avec succès !', product);
        } else {
            console.error('Erreur lors de la création du produit');
        }
    });
</script>