<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="/controllers/productController.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <title><%= title %></title>
</head>
<body>
<main class="container">

    <h3>Tous les produits</h3>
    <div class="line"></div>
    <div class="row all-cards">
        <% for (var i = 0; i < products.length; i++) { %>
            <div class="col-xl-2 col-lg-3 col-sm-6 col-cards">
                <div class="card">
                    <img class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><%- products[i].productName %></h5>
                        <p class="card-price"><%= products[i].productPrice %> €</p>
                        <div class="row">
                            <div class="col-6 area-btn">
                                <a id="showDetailProduct" href="/product/<%= products[i]._id %>" class="button btn-action-product">+ de détails</a>
                            </div>
                            <div class="col-6 area-btn">
                                <a id="deleteProduct" href="http://localhost:8082/" class="btn-action-product" onclick="deleteProduct('<%= products[i]._id %>')">supprimer</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <% if ((i + 1) % 5 === 0) { %>
    </div>
    <div class="row all-cards">
        <% }} %>
    </div>
</main>


<script>
        async function deleteProduct(productId) {

            const response = await fetch(`/product/${productId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
                        });

            if (response.ok) {
                const product = await response.json();
                console.log('requête effectuée avec succès !', product);
            } else {
                console.error('Erreur lors de la supression du produit');
            }
    }
</script>

